.allCards_Member_Card{
    display: flex;
    gap:20px
   }
   .box_Member_Card {
    height: 506px;
    width: 392px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border: solid 1px rgb(213, 213, 213);
    background-color: #f9f9f9;
    border-radius: 24px;
    padding :20px;
  }
  .box_Member_Card:hover{
    box-shadow: 2px 1px 1px rgb(185, 185, 185);
    transition-duration:0.5s ;
  }
  .make-appoitment-button-memberCard:hover{
background-color: #009097;
  }
  .make-appoitment-button-memberCard{
    margin-top: 3rem;
    border-radius: 10px;
    border-width: 1px;
    padding: .9rem;
    color: white;
    background-color: #007E85;
    border: none;
    cursor: pointer;
  }
  .box_Member_Card .image_container_Member_Card{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .image_container_Member_Card{
    display: flex;
    align-items: center;
  }
  .card-heading_Member_Card{
    color: #007e85;
    font-family: "DM Sans-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 34px;
  }
  .description_Member_Card{
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-darkslategray);
    line-height: 20px;
  }
  .paragraph_Member_Card{
    display: inline-block;
    line-height: 20px;
    text-align: start;
    color: var(--color-dimgray);
    font-weight: 700;
    font-size: 15px;
  }
  .social-media-icons_Member_Cards{
    margin-top: 1.7rem;
    display: flex;
    gap: 20px;
  }