.profile_Doctor_right {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 83%;
  height: 91%;
}
