.container-user {
  width: 100%;
  height: 100vh;
  background: #007e85;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.small-back {
  width: 55px;
  height: 50px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}
.small-calendar {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}
.small-chat {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}
.small-time {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}
.small-settings {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}
.logout {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
}

.sid-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.content-user {
  width: 93%;
  height: 99vh;
  background: white;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  margin-left: 30px;
  margin-right: -15px;
}
.nav-user {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  gap: 10%;
}
.search-user-input {
  margin-right: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 1%;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background: #e5e5e5;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  width: 700px;
  height: 30px;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #a2a3a4;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #e5e5e5;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 20px;
  width: 20px;
  fill: #a2a3a4;
  cursor: pointer;
}
.chat_bell_user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.chat-user {
  width: 30px;
  height: 30px;
  color: #0D0D0D.75%;
  cursor: pointer;
}
.bell {
  width: 30px;
  height: 30px;
  color: #0D0D0D.75%;
  cursor: pointer;
}
.icon-user {
  width: 144px;
  height: 55px;
  border-radius: 16px;
  border: 1.024px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.name-user-icon {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--dmv-black, #23262f);
  cursor: pointer;
}
.image-user {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  cursor: pointer;
}
.text_user_appointment_calendar{
  flex-direction: row;
  justify-content:flex-start;
  display: flex;
}
.text_user_appointment {
  flex-direction: column;
  width: 65%;
  padding: 1rem;
  display: flex;
  gap: 10px;
}

.text_user {
  margin-top: 8px;
  margin-bottom: 8px;
}
.greeting-user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  color: black.75%;
  margin-left: 2%;
}
.name-user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 700;
  color: #007e85;
}

.face_user_calendar {
display: flex;
flex-direction: row;
gap: 40px;
}
.container_face_user {
  width: 85%;
  height: 200px;
  padding: 1rem;
  border-radius: 16px;
  background: linear-gradient(
    66deg,
    rgba(0, 126, 133, 0.33) -5.25%,
    rgba(0, 126, 133, 0.34) 35.43%,
    #007e85 98.77%
  );
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.face_user_visit {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.face_user_number {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.face_user_container_percent {
  justify-content:flex-start;
  display: flex;
  gap: 5px;
}
.pointment-percent {
padding: 1vh;
width: 210px;
height: 98px;
border-radius: 18.019px;
background: rgba(255, 255, 255, 0.55);
flex-direction: column;
display: flex;
 gap: 20px;
 cursor: pointer;
}
.pointment-percent:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.new_pointment {
color: #000;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.18px;
text-transform: capitalize;
}
.pointment_number {
  color: #000;
font-family:  Arial, Helvetica, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* css pointment */
.list_appointment_text {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 60%;
}
.list_appointment {
  width: 89%;
  height: 275px;
  border-radius: 16px;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  background: #FFF;
}
.appointment_text {
  color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-style: normal;
font-weight: bold;
line-height: normal;
padding: 1rem;  
}
.appointment_date {
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
gap: 10%;
}
.appointment_date_user {
  color: rgba(0, 0, 0, 0.60);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.icon_appointment{
 width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  stroke-width: 2.048px;
  stroke: rgba(0, 0, 0, 0.60);
}
/* css calendar */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


	
:root {
	
	--c-theme-primary-accent: #CBE8FF;
	--c-bg-primary: #D6DAE0;
	--c-bg-secondary: #EAEBEC;
	--c-bg-tertiary: #FDFDFD;
	--c-text-primary: #1F1F25;
	--c-text-secondary: #999FA6;
}





.datepicker {
	width: 90%;
height: 35%;
	max-width: 350px;
	background: #FFF;
	border-radius: 16px;
	box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	padding: 1rem;
}

.tag {
	margin-right: .5rem;
	margin-top: .5rem;
	border: 0;
	background-color: var(--c-bg-secondary);
	border-radius: 10px;
	padding: .5em .75em;
	font-weight: 600;
}
.datepicker-top {
	margin-bottom: 1rem;
  gap: 30px;
}
.name-calendar {
  display: flex;
	justify-content: space-between;
	align-items: center;
}
.text-calendar {
  color: #000;
text-align: center;
font-family:  Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: bold;
line-height: normal;
letter-spacing: 0.205px;
text-transform: capitalize;
}
.icon-calendar {
  width: 1rem;
height: 1rem;
transform: rotate(-90deg);
}
.month-selector {
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.month-name {
	color: #000;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.123px;
text-transform: capitalize;
}

.left_right {
  width: 1rem;
  height: 1rem;
}
new4 {
  border: 1px solid  #D2D2D2;
}
.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  color: #2B2B36;
  display: flex;
width: 46px;
height: 25px;
padding: 4px;
align-items: flex-start;
gap: 10px;
border: none;
}

.date {
  
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
flex-direction: column;
justify-content: center;
color: #0D0D0D;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
border: none;
	}	

.current-day {
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #0D0D0D;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
border: none;
}
.red_point {
  justify-content: center;
}

.upcoming_user {
  display: flex;
  width: 20%px;
  justify-content: space-between;
  align-items: center;
}
.upcoming_user-all {
  font-family: Arial, Helvetica, sans-serif;
  color: #007E85;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  text-decoration-line: underline;

}
.upcoming_user_test {
color: var(--dmv-black, #23262F);
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
}

.user_meeting {
  width: 98%;
height: 20%;
border-radius: 10px;
background: #F0F9FD;
padding: 2vh;
justify-content:flex-start;
flex-direction: row;
display: flex;
align-items: center;
gap: 15px;
}
.type_meet {
  width: 47px;
height: 47px;
fill: var(--med, linear-gradient(66deg, #57B4DE -5.25%, #58B6DD 35.43%, #3B29AB 98.77%));
}
.text_type {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.text_type_meet {
  width: 5%;
color: var(--dmv-black, #23262F);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-style: normal;
font-weight:bold;
line-height: normal;
}
.date_type_meet {
  width:3%px;
color: rgba(13, 13, 13, 0.60);
font-family:Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
