.container-user {
  width: 100%;
  height: 100vh;
  background: #007e85;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.small-back {
  width: 55px;
  height: 50px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  width: 30px;
  height: 30px;
  display: flex;
}
.small-calendar {
  width: 30px;
  height: 30px;
  display: flex;
}
.small-chat {
  width: 30px;
  height: 30px;
  display: flex;
}
.small-time {
  width: 30px;
  height: 30px;
  display: flex;
}
.small-settings {
  width: 30px;
  height: 30px;
  display: flex;
}
.logout {
  width: 30px;
  height: 30px;
  display: flex;
}

.sid-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.content-user {
  width: 93%;
  height: 99vh;
  background: white;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  margin-left: 30px;
  margin-right: -15px;
  margin-top: 3px;
}
.nav-user {
  margin-top: 35px;
  justify-content: center;
  display: flex;
  gap: 10%;
}
.search-user-input {
  margin-right: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 1%;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background: #e5e5e5;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  width: 700px;
  height: 30px;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #a2a3a4;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #e5e5e5;
  margin-top: 0.1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 20px;
  width: 20px;
  fill: #a2a3a4;
  cursor: pointer;
}
.chat_bell_user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.chat-user {
  width: 30px;
  height: 30px;
  color: #0D0D0D.75%;
  cursor: pointer;
}
.bell {
  width: 30px;
  height: 30px;
  color: #0D0D0D.75%;
  cursor: pointer;
}
.icon-user {
  width: 144px;
  height: 55px;
  border-radius: 16px;
  border: 1.024px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.name-user-icon {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--dmv-black, #23262f);
  cursor: pointer;
}
.image-user {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  cursor: pointer;
}
.subContainer {
  gap: 5px;
}
.text_user {
  margin-top: 2px;
  margin-bottom: 4px;
}
.greeting-user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  color: black.75%;
  margin-left: 2%;
}
.name-user {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-left: 10px;
  font-style: normal;
  font-weight: 700;
  color: #007e85;
}
.container_face_user {
  width: 815px;
  height: 260px;
  padding: 1rem;
  border-radius: 16px;
  background: linear-gradient(
    66deg,
    rgba(0, 126, 133, 0.33) -5.25%,
    rgba(0, 126, 133, 0.34) 35.43%,
    #007e85 98.77%
  );
  margin-left: 2%;
}
.container_face_user {
  
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.face_user_visit {
  margin-top: 1%;
  
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.face_user_number {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.face_user_container_percent {
  justify-content:flex-start;
  display: flex;
  gap: 10px;
}
.pointment-percent {
padding: 1vh;
width: 219px;
height: 122px;
border-radius: 18.019px;
background: rgba(255, 255, 255, 0.55);
flex-direction: column;
display: flex;
 gap: 12px;
 cursor: pointer;
}
.pointment-percent:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.new_pointment {
color: #000;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.18px;
text-transform: capitalize;
}
.pointment_number {
  color: #000;
font-family:  Arial, Helvetica, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
/* .container_user_calendar {
  width: 50vh;
height: 60vh;
border-radius: 16px;
background: #FFF;
background-color: #000;
} */
/* css calendar */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


	
:root {
	--c-theme-primary: #008FFD;
	--c-theme-primary-accent: #CBE8FF;
	--c-bg-primary: #D6DAE0;
	--c-bg-secondary: #EAEBEC;
	--c-bg-tertiary: #FDFDFD;
	--c-text-primary: #1F1F25;
	--c-text-secondary: #999FA6;
}





.datepicker {
	width: 95%;
	max-width: 350px;
	background-color: var(--c-bg-tertiary);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	padding: 1rem;
}

.datepicker-top {
	margin-bottom: 1rem;
}

.btn-group {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	margin-top: -.5rem;
}

.tag {
	margin-right: .5rem;
	margin-top: .5rem;
	border: 0;
	background-color: var(--c-bg-secondary);
	border-radius: 10px;
	padding: .5em .75em;
	font-weight: 600;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}

.month-name {
	font-weight: 600;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: var(--c-text-secondary);
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: var(--c-theme-primary);
		border: 2px solid var(--c-theme-primary-accent);	
	}	
}

.faded {
	color: var(--c-text-secondary);
}

.current-day {
	color: #FFF;
	border-color: var(--c-theme-primary);
	background-color: var(--c-theme-primary);
	&:focus {
		background-color: var(--c-theme-primary-accent);
	}
}
